.venv
__pycache__
test_logs.txt
fake_logs*
src/logscope.egg-info/dependency_links.txt
src/logscope.egg-info/PKG-INFO
src/logscope.egg-info/top_level.txt
src/logscope.egg-info/SOURCES.txt
src/logscope.egg-info/entry_points.txt
